<section>
  <h1>About H&eacute;ctor</h1>
  <p>Computer engineer and iOS developer. Solutions Architect at <a href="http://parse.com">Parse</a>. Developer behind <a href="http://itunes.apple.com/us/app/mi-banco-mobile/id508421942?mt=8">BPPR's Mi Banco</a>, <a href="http://eyetour.com/wonders">Wonders of Puerto Rico</a>, and <a href="http://www.ivulotoapp.com">IVU Loto App</a>. Member of <a href="http://www.startupsofpuertorico.com">Startups of Puerto Rico</a>. Java programmer in a previous life, now Rails helps me keep my sanity.</p>
</section>

